/* ************************************************* */
/* *********************** FONT ******************** */
/* ************************************************* */
@font-face {
    font-family: 'open_sanssemibold';
    src: url('../font/OpenSans-Semibold-webfont.eot');
    src: url('../font/OpenSans-Semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/OpenSans-Semibold-webfont.woff') format('woff'),
         url('../font/OpenSans-Semibold-webfont.ttf') format('truetype'),
         url('../font/OpenSans-Semibold-webfont.svg#open_sanssemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sansextrabold_italic';
    src: url('../font/OpenSans-ExtraBoldItalic-webfont.eot');
    src: url('../font/OpenSans-ExtraBoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/OpenSans-ExtraBoldItalic-webfont.woff') format('woff'),
         url('../font/OpenSans-ExtraBoldItalic-webfont.ttf') format('truetype'),
         url('../font/OpenSans-ExtraBoldItalic-webfont.svg#open_sansextrabold_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sanssemibold_italic';
    src: url('../font/OpenSans-SemiboldItalic-webfont.eot');
    src: url('../font/OpenSans-SemiboldItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/OpenSans-SemiboldItalic-webfont.woff') format('woff'),
         url('../font/OpenSans-SemiboldItalic-webfont.ttf') format('truetype'),
         url('../font/OpenSans-SemiboldItalic-webfont.svg#open_sanssemibold_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sansregular';
    src: url('../font/OpenSans-Regular-webfont.eot');
    src: url('../font/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/OpenSans-Regular-webfont.woff') format('woff'),
         url('../font/OpenSans-Regular-webfont.ttf') format('truetype'),
         url('../font/OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sanslight';
    src: url('../font/OpenSans-Light-webfont.eot');
    src: url('../font/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/OpenSans-Light-webfont.woff') format('woff'),
         url('../font/OpenSans-Light-webfont.ttf') format('truetype'),
         url('../font/OpenSans-Light-webfont.svg#open_sanslight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sanslight_italic';
    src: url('../font/OpenSans-LightItalic-webfont.eot');
    src: url('../font/OpenSans-LightItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/OpenSans-LightItalic-webfont.woff') format('woff'),
         url('../font/OpenSans-LightItalic-webfont.ttf') format('truetype'),
         url('../font/OpenSans-LightItalic-webfont.svg#open_sanslight_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sansitalic';
    src: url('../font/OpenSans-Italic-webfont.eot');
    src: url('../font/OpenSans-Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/OpenSans-Italic-webfont.woff') format('woff'),
         url('../font/OpenSans-Italic-webfont.ttf') format('truetype'),
         url('../font/OpenSans-Italic-webfont.svg#open_sansitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sansextrabold';
    src: url('../font/OpenSans-ExtraBold-webfont.eot');
    src: url('../font/OpenSans-ExtraBold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/OpenSans-ExtraBold-webfont.woff') format('woff'),
         url('../font/OpenSans-ExtraBold-webfont.ttf') format('truetype'),
         url('../font/OpenSans-ExtraBold-webfont.svg#open_sansextrabold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sansbold';
    src: url('../font/OpenSans-Bold-webfont.eot');
    src: url('../font/OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/OpenSans-Bold-webfont.woff') format('woff'),
         url('../font/OpenSans-Bold-webfont.ttf') format('truetype'),
         url('../font/OpenSans-Bold-webfont.svg#open_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sansbold_italic';
    src: url('../font/OpenSans-BoldItalic-webfont.eot');
    src: url('../font/OpenSans-BoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/OpenSans-BoldItalic-webfont.woff') format('woff'),
         url('../font/OpenSans-BoldItalic-webfont.ttf') format('truetype'),
         url('../font/OpenSans-BoldItalic-webfont.svg#open_sansbold_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* ************************************************* */
/* ******************** GENERIC RULES ************** */
/* ************************************************* */


h2, h3 {
    line-height: 1.2em;
}
h1 {
    line-height: 1em;
    color: #2a87c8;
    font:'open_sansregular', sans-serif;
}

h4 {
    line-height: 0.6em;
    color: #2a87c8;
    font:'open_sansregular', sans-serif;
}

.fl {
    float: left;
}
.fr {
    float: right;
}
strong {
    font-family: "open_sansbold";
    font-weight: normal;
}


    #holder {
      width:850px;
      margin:20px auto;
    }
    #holder>div {
      padding:30px 0;
      clear:both;
    }

    .map {
      width:600px;
      height:410px;
    }
    /*
    .pie {
      margin-left:30px;
    }
*/





/*
 * Override dc.js default styles for selection
 */

.dc-chart .selected path {
    stroke-width: 1;
    stroke: #ccc;
    fill-opacity: 1;
}

.dc-chart .selected path {
    stroke-width: 1;
    stroke: #ccc;
    fill-opacity: 1;
}

/*
 * Page specific styles
 */

.logo {
    height:50px;
    padding: 5px;
    margin: 5px;
}

.socialmedia {
  position: absolute;
  top: 5px;
  right: 60px;
  z-index: 99999999;

}

.socialmedia img {
  padding: 2px;
}

.socialmedia img:hover {
  opacity: 0.7;
}



/* testing out d3 tooltip */
.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 8px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}

.dc-chart g.row text {
    fill: #523530;
    font-size: 12px;
    cursor: pointer;
}



/* ### General control styles ### 
.viz-share div,
.viz-share .twitter,
.viz-share .facebook {
  display:block;
  position:absolute;
  background:#fff;
  border-radius:3px;
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  }
*/
/* ### Zoomer, close buttons, share ### 
.viz-share .close {
  position: absolute;
  text-indent:-9999px;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAJYAAAAeCAYAAADO4udXAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAN1wAADdcBQiibeAAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAAHFSURBVHic7dpBbsIwEAXQoZpbwKKz8Bm66EFyjUicI1KuwUF6Ci/cBbmFJbqoLbluJezgMSn8JyGhJMRAvmZiw+5yuRBAay/3fgPwmBAsUIFggQoEC1QgWKACwQIVCBaoQLCgiIiMIjKWHo9gbVy4oJ/po9e42fPiUBERcemBxpiD935i5qO19ly6rzUR+SAics69a46zFc65WUSIKi9sA2MYN449O+fm0hcXVyzv/UREb977kzHmELeHUJ3Cvqn0fDfYhwfoi5WqKlREFRWLmY8hQPsQroGIKG4jooWZjzWDw3VJG4oXtnflWqU4WNbaszFmSMMVdsVQDdpt8NmkoYoVI2lPPY0iQjVVa1f774ak9cV2pBqqcE91rfUtre+57jGuiIxJgFa3oS0orljQxU03zGv8NeNzzr3eet6qipVVqyVs7toK43S7xYffmmwpoVulysPV4rstnhXmoWLmgZkH+g7YPp8twnOrXW74UZ2stecsXD2WG55F1Ur3Wtmss1mFrF1u+LUImswWp07LDcv1Q/6n3u1dc9ZZPSuExxErosa9HIIFKvAjNKhAsEAFggUqECxQgWCBCgQLVCBYoALBAhVfpi7sxwlEhWYAAAAASUVORK5CYII=);
  background-repeat:no-repeat;
  overflow:hidden;
  background-position:-6px -6px;
  top:4px;
  right:4px;
  width:18px;
  height:18px;
  }

.viz-share .close:active {
  background-color:#ddd;
  }

.share {
  clear:left;
  right:10px;
  top:39px;
  width:66px;
  height:18px;
  padding:2px 0;
  font:bold 10px/18px Arial,sans-serif;
  text-align:center;
  text-transform:uppercase;
  background:#2F3E4A;
  border-radius:0 0 3px 3px;
  -moz-border-radius:0 0 3px 3px;
  -webkit-border-radius:0 0 3px 3px;
  color:#fff;
  position: absolute;
  z-index:2;
  border: 1px solid #282828;
  }
*/

/* ### Share ### 
.viz-share {
  background:#666;
  background:rgba(32,32,32,0.75);
  position:absolute;
  width:100%;
  height:100%;
  top:0px; left:0px; right:0px; bottom:0px;
  z-index:99999;
  }

.viz-share div {
  right:50%;
  top:50%;
  margin:-120px -180px 0px 0px;
  padding:19px;
  width:320px;
  height:200px;
  overflow:hidden;
  background: #CED1D9;
  line-height: 20px;
  color: #222;
  }
.viz-share p {
  margin-bottom: 20px;
}
.viz-share small {
  color:#999;
  }
.viz-share textarea {
  display:block;
  font:normal 10px/15px Arial,sans-serif;
  resize:none;
  border:1px solid #ccc;
  padding:4px;
  width:310px;
  color: #3c4e5a;
  box-shadow: inset #ddd 0px 1px 3px;
  -moz-box-shadow: inset #ddd 0px 1px 3px;
  -webkit-box-shadow: inset #ddd 0px 1px 3px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  }

.viz-share .twitter,
.viz-share .facebook {
  display:inline-block;
  position:relative;
  padding:2px 18px;
  margin-right:10px;
  background:#fff;
  color:#fff;
  font-weight:bold;
  }

.viz-share .twitter {
  background:#0ac;
  }

.viz-share .facebook {
  background:#359;
  }
  
*/
